<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated trafficlight -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="my.dsl.trafficlight.presentation.TrafficlightModelWizardID"
            name="%_UI_TrafficlightModelWizard_label"
            class="my.dsl.trafficlight.presentation.TrafficlightModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TrafficlightModelFile.gif">
         <description>%_UI_TrafficlightModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated trafficlight -->
      <editor
            id="my.dsl.trafficlight.presentation.TrafficlightEditorID"
            name="%_UI_TrafficlightEditor_label"
            icon="icons/full/obj16/TrafficlightModelFile.gif"
            extensions="trafficlight"
            class="my.dsl.trafficlight.presentation.TrafficlightEditor"
            contributorClass="my.dsl.trafficlight.presentation.TrafficlightActionBarContributor">
      </editor>
   </extension>

</plugin>
